
<mat-progress-bar mode="indeterminate" *ngIf="isLoading" ></mat-progress-bar>

<h3 class="title-dark">New school</h3>

<form [formGroup]="formSchool" (ngSubmit)="saveFormSchool(formSchool)" >

	<div class="row middle-xs">

		<div class="col-xs-6">
			<mat-form-field appearance="outline" color="primary" class="full">
				<mat-label>Name</mat-label>
				<input matInput formControlName="nombre" placeholder="Write your name">
			</mat-form-field>
		</div>


		<div class="col-xs-6">
			<button type="button" mat-stroked-button color="primary"  (click)="imgFileInput.click()">Upload image</button>

			<input hidden type="file" #imgFileInput (change)="previewImage($event)"/>
			<span> {{file?.name}}</span>
		</div>


		<div class="col-xs-6">
			<mat-form-field appearance="outline" color="primary" class="full">
				<mat-label>Phone</mat-label>
				<input type="number" matInput formControlName="telefono" placeholder="Write your phone">
			</mat-form-field>
		</div>


		<div class="col-xs-6">
			<mat-form-field appearance="outline" color="primary" class="full">
				<mat-label>Email</mat-label>
				<input matInput formControlName="email" placeholder="Write your email">
			</mat-form-field>
		</div>


		<div class="col-xs-12">
			<mat-form-field appearance="outline" color="primary" class="full">
				<mat-label>Contact</mat-label>
				<textarea matInput formControlName="contacto" placeholder="Write your contact"></textarea>
			</mat-form-field>
		</div>

		<div class="col-xs-12 end-xs">
			<button type="submit" mat-stroked-button color="primary" [disabled]="!formSchool.valid">Guardar</button>
		</div>
	</div>

</form>
