
<mat-card class="signin-card">

	<form [formGroup]="formAdmin" (ngSubmit)="sendFormAdmin(formAdmin)" *ngIf="isAdminSignin">
		<div class="row center-xs" >
			<div class="col-xs-12">
				<mat-form-field appearance="outline" color="primary" class="full">
					<mat-label>Email</mat-label>
					<input matInput formControlName="email" placeholder="Escribe tu correo electronico">
				</mat-form-field>
			</div>
			<div class="col-xs-12">
				<mat-form-field appearance="outline" color="primary" class="full">
					<mat-label>Password</mat-label>
					<input type="password" matInput formControlName="password" placeholder="Escribe tu contraseña">
				</mat-form-field>
			</div>
			<div class="col-xs-12">
				<p class="description">
					By clicking the login button below, you are accepting the <a _ngcontent-c5="" href="http://macmillan.com.mx/terms-and-conditions/" target="_blank">Terms and Conditions.</a> You can also read our <a _ngcontent-c5="" href="http://macmillan.com.mx/avisodeprivacidad/" target="_blank">Privacy Policy</a> and <a _ngcontent-c5="" href="http://www.macmillanenglish.com/cookies-policy/" target="_blank">Cookie Policy</a>.
				</p>
			</div>
			<div class="col-xs-6 start-xs">
				<button type="button" mat-stroked-button color="accent" (click)="changeLearnerSignin()">Login as students </button>
			</div>
			<div class="col-xs-6 end-xs">
				<button
					type="submit"
					[disabled]="!formAdmin.valid"
					mat-stroked-button
					color="primary">Login</button>
			</div>
		</div>
	</form>

	<form [formGroup]="formLearner" (ngSubmit)="sendFormLearner(formLearner)" *ngIf="!isAdminSignin" >
		<div class="row center-xs">
			<div class="col-xs-12">
				<div class="title-dark">Access code</div>
			</div>
			<div class="col-xs-12">
				<mat-form-field appearance="outline" color="primary" class="full">
					<mat-label>Access code</mat-label>
					<input matInput formControlName="codeAccess" placeholder="Escribe tu codigo de acceso">
				</mat-form-field>
			</div>
			<div class="col-xs-6 start-xs">
				<button type="button" mat-stroked-button color="accent" (click)="changeAdminSignin()">Login as teacher</button>
			</div>
			<div class="col-xs-6 end-xs">
				<button type="submit" [disabled]="!formLearner.valid" mat-stroked-button color="primary">Login</button>
			</div>
		</div>
	</form>

</mat-card>


<footer class="footer" [ngStyle]="{width: innerWidth + 'px'}">
	<div class="container-footer">
		<div class="container-columns">
			<div class="column">
				<span>Contact Us</span>
				<span>Macmillan Mexico</span>
				<span>Insurgentes Sur 1886</span>
				<span>Col. Florida Mexico,</span>
				<span>Ciudad de Mexico CP. 01030</span>
				<span>Tel: +52 (55) 5482-2200</span>
				<span>Toll free: 01 800 006 4100</span>
				<span>Web: <a href="http://macmillan.com.mx/" target="_blank">http://macmillan.com.mx/</a></span>
			</div>

			<div class="column">
				<span>Useful links</span>
				<span><a href="http://www.macmillaneducation.com/" target="_blank">Macmillan Education</a></span>
				<span><a href="http://www.macmillandictionary.com/" target="_blank">Macmillan English Dictionary</a></span>
			</div>


			<div class="column">
				<span>Other Macmillan sites</span>
				<span><a href="http://www.onestopenglish.com/" target="_blank">Onestopenglish</a></span>
				<span><a href="http://www.macmillanenglish.com/" target="_blank">Macmillan English</a></span>
			</div>
		</div>


		<div class="data-footer">
			<span>© Springer Nature Limited 2018</span>
			<ul>
				<li><a href="http://macmillan.com.mx/avisodeprivacidad/" target="_blank">Privacy Policy</a></li>
				<li><a href="http://macmillan.com.mx/terms-and-conditions/" target="_blank">Terms of Use</a></li>
				<li><a href="http://www.macmillanenglish.com/cookies-policy/" target="_blank">Cookie Policy</a></li>
			</ul>
		</div>
	</div>
</footer>