:host {
    height: calc( 100% + 84px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

	.signin-card {
		max-width: 500px;
		margin-top: 20%;

		.description {
			margin: 0 0 25px 0;
			color: #444;

			a {
				color: #444;
				opacity: 0.5;
				text-decoration: none;
				transition: 0.3s all;

				&:hover {
					color: #555;
				}
			}
		}
	}

	.footer {
		background: #454545;
		// position: absolute;
		// bottom: 0;
		// left: 0;
		// right: 0;
		padding: 30px 20px;
		color: white;
		width: 100%;


		.container-footer {
			max-width: 1170px;
			margin: 0 auto;


			a {
				color: white;
				opacity: 0.5;
				text-decoration: none;
				transition: 0.3s all;

				&:hover {
					opacity: 1;
				}
			}


			.container-columns {
				display: flex;
				flex-direction: row;


				.column {
					flex: 1;
					display: flex;
					flex-direction: column;


					span {
							&:first-child {
								margin-bottom: 15px;
							}

					}
				}
			}


			.data-footer {
				margin-top: 20px;
				display: flex;
				flex-direction: row;


				span {
					flex: 1;
				}

				ul {
					flex: 2;
					margin: 0;
					padding: 0;

					li {
						list-style: none;
						display: inline-block;
						padding: 0 8px;
						border-right: 1px solid white;


						&:last-child {
							border-right: 0;
						}
					}
				}
			}
		}
	}
}


@media only screen and (max-width: 600px) {
	.footer {
		width: calc( 100% - 40px) !important;
		margin-top: 10px;

		 .container-footer {

			 .container-columns, .data-footer {
				flex-direction: column !important;
				padding: 0 20px;
			}

			.data-footer {
				padding: 0 20px;

				ul {

					li {
						border-right: 0 !important;
						display: block !important;
					}
				}
			}
		}
	}
}