:host {


	.super-header {
		background: #c0352c;
		height: 300px;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
	}


	.container-view {
		max-width: 1000px;
		margin: 0 auto;
		height: calc( 100% - 84px );
		position: relative;
	}



}