
<h3 class="title">Teacher - {{teacher?.nombre}}</h3>

<mat-card>
	<mat-progress-bar mode="indeterminate" *ngIf="isLoading" ></mat-progress-bar>

	<form [formGroup]="formTeacher" (ngSubmit)="saveFormTeacher(formTeacher)" *ngIf="formTeacher">
		<div class="row">

			<div class="col-xs-12">
				<div class="row end-xs">
					<div class="col-xs-3 col-sm-2" *ngIf="!isReadonly">
						<button type="submit" mat-stroked-button color="primary" [disabled]="!formTeacher.valid">Save</button>
					</div>
					<div class="col-xs-3 col-sm-2" *ngIf="isReadonly">
						<button type="button" mat-stroked-button (click)="isReadonly = false" color="primary">Edit</button>
					</div>
					<div class="col-xs-3 col-sm-2">
						<button type="button" mat-stroked-button color="warn" (click)="deleteTeacher()">Delete</button>
					</div>
				</div>
			</div>

			<div class="col-xs-12">
				<div class="subtitle-dark">Teacher information</div>
			</div>

			<div class="col-xs-6">
				<mat-form-field appearance="outline" color="primary" class="full">
					<mat-label>Name</mat-label>
					<input matInput formControlName="nombre" placeholder="Write the name" [readonly]="isReadonly">
				</mat-form-field>
			</div>

			<div class="col-xs-6">
				<mat-form-field appearance="outline" color="primary" class="full">
					<mat-label>Password</mat-label>
					<input type="password" matInput formControlName="password" placeholder="Write new password" [readonly]="isReadonly">
				</mat-form-field>
			</div>

			<div class="col-xs-6">
				<mat-form-field appearance="outline" color="primary" class="full">
					<mat-label>Email</mat-label>
					<input matInput formControlName="email" placeholder="Write the email" [readonly]="isReadonly">
				</mat-form-field>
			</div>

		</div>

	</form>

	<div class="divider"></div>

	<div class="row" *ngIf="teacher?.grupos">

		<div class="col-xs-12 end-xs">
			<button mat-stroked-button color="primary" (click)="openDialogFormGroup()">Add group</button>
		</div>

		<div class="col-xs-12 center-xs" *ngIf="teacher.grupos.length <= 0">
			<h3 class="subtitle-dark text-center">Not found groups.</h3>
		</div>

		<div class="col-xs-12" *ngIf="teacher?.grupos.length > 0 ">
			<div class="subtitle-dark">Groups</div>
		</div>

		<div class="col-xs-12" *ngIf="teacher?.grupos.length > 0 ">
			<table mat-table [dataSource]="teacher.grupos">

				<ng-container matColumnDef="name">
					<th mat-header-cell *matHeaderCellDef> Name </th>
					<td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
				</ng-container>

				<ng-container matColumnDef="code_access">
					<th mat-header-cell *matHeaderCellDef> Code access </th>
					<td mat-cell *matCellDef="let element"> {{element.codigo_acceso}} </td>
				</ng-container>

				<ng-container matColumnDef="actions">
					<th mat-header-cell *matHeaderCellDef> Actions </th>
					<td mat-cell *matCellDef="let element">
						<a mat-icon-button color="primary" routerLink="./group/{{element.id}}">
							<mat-icon>visibility</mat-icon>
						</a>
					</td>
				</ng-container>

				<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
				<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
			</table>
		</div>

	</div>

</mat-card>