div#cinto .grid a:nth-child(1),
div#cinto .grid a:nth-child(3),
div#cinto .grid a:nth-child(5){background:rgba(218,218,218,0.3);border-top:45px solid rgba(247,148,30,0.6);}
div#cinto .grid a:nth-child(2),
div#cinto .grid a:nth-child(4),
div#cinto .grid a:nth-child(6){background:rgba(218,218,218,0.4);border-top:45px solid rgba(247,148,30,0.7);}
body div#cinto .grid a:hover,
body div#cinto .grid a:focus{border-top:45px solid rgba(247,148,30,1);}
body #hed{border-bottom: 2px solid rgb(247,148,30);height:150px;}
body.scoope_sequence #hed #titu {margin: 105px 67px 0 0;}
body.students-book #hed #titu {margin: 105px 67px 0 0;}
body .te-container {height: 266px;width: 208px;}

/*TITULOS*/
body.academy-stars #hed #titu.what-makes-academy-stars-special:after{content:'What Makes Academy Stars Special?';}

body.academy-stars #hed #titu.pupils-book:after{content:"Pupil's Book ";}
body.workbook #hed #titu.workbook:after{content:"Workbook";}
body.teacher-book #hed #titu.teacher-book:after{content:"Teacher's Book Pack";}

body.tiger-time #hed #titu.activity-book:after{content:"Activity Book";} 
body.tiger-time #hed #titu.teachers-book:after{content:"Teacher's Book";} 


/*Teacher edition*/
body.for-teachers div#main div#imagen_forteacher{background:transparent url('../images/02_Academy_Stars/Canvas/AStars_SE_C.png') no-repeat;width: 320px;    height: 470px;}
body.for-teachers div#main div#imagen_forteacher{background-position:-962px -44px;}

#for-teachers h1 {
    position: absolute;
    display: block;
    text-align: center;
    width: 314px;
    
}
#imagen_forteacher h1, [id^="componente-"].activo h1 {
    color: rgba(0,0,0,0.4);
    font: 24px 'Conv_PFAgoraSansPro-Black';
}
#imagen_forteacher o {
    top: 282px;
}

#imagen_forteacher o, #imagen_forteacher o {
    padding: 10px;
    top: 350px;
    position: absolute;
    background: rgba(0,0,0,0.7);
    display: block;
    font: 14px 'Conv_PFAgoraSansPro-Reg';
    color: #fff;
}
#imagen_forteacher h1 {
    color: rgba(0,0,0,0.4);
    font: 24px 'Conv_PFAgoraSansPro-Black';
    margin: -70px auto;
    display: block;
    text-align: center;
}
#imagen_forteacher {
    width: 314px;
    height: 474px;
    background-position: -959px -80px;
    cursor: pointer;
    cursor: hand;
    margin: 76px auto;
    padding-top: 60px;
}

/*SUBTITULOS*/
b#ctitulo.what-makes-academy-stars-special:after{content:"Pupilâ€™s Book 2";}

/*b#ctitulo.pupils-book:after{content:"Pupilâ€™s Book ";}*/
b#ctitulo.activity-book:after{content:"Activity Book";}
b#ctitulo.teacher-book:after{content:"Teacher's Book";}
b#ctitulo.scope-sequence:after{content:'Level 1';}
b#ctitulo.scope-sequence.levelb:after{content:'Level 2';}
b#ctitulo.scope-sequence.levelc:after{content:'Level 3';}
b#ctitulo.scope-sequence.leveld:after{content:'Level 4';}
b#ctitulo.scope-sequence.levele:after{content:'Level 5';}
b#ctitulo.scope-sequence.levelf:after{content:'Level 6';}

/*********************** Introduction ***********************/
body #hed #logo{background: transparent url('../images/02_Academy_Stars/01_More_Info/01_Intro/AStars_Logo.png') no-repeat;height: 160px;margin: 16px 0 0 18px;width: 282px;}
body.happy-campers .te-separa {height: 200px;}
body.happy-campers .te-texto h1 {background:none;}
#intro_brainwave_2{right:0;display:inline;width:100%;position:relative;margin:-248px 0 0 0;padding:0;border:0;}
body.macmillan-science a img{border:0;margin:5% 0 50% 15%;}
.te-texto div#tas_tit {left: 280px;}


/******************************************WHAT MAKES Next Move ESPECIAL ***************************************************/ 
body.what-makes-tiger-time-special div#barra b{background:transparent url('../imagenes/tiger_time/whatMake/TT_WMS.png') no-repeat 0 -49px;width:79px;height:49px;}
body.what-makes-tiger-time-special div#barra div#scrl{display:none;}
body.what-makes-tiger-time-special div#barra b#bp1{background-position:0 0;margin-left: 0px;}
body.what-makes-tiger-time-special div#barra b#bp2{background-position:0 -49px;}
body.what-makes-tiger-time-special div#barra b#bp3{background-position:0 -98px;}
body.what-makes-tiger-time-special div#barra b#bp4{background-position:0 -147px;}


/*Componentes for teachers for students*/
[id^="componente-"]{background:transparent url('../images/02_Academy_Stars/Canvas/AStars_SE_C.png') 0 -44px no-repeat;}
[id^="componente-"].students-book{background-position:-20px -44px;}
[id^="componente-"].workbook{background-position:-328px -44px;}
[id^="componente-"].pupils-resource-centre{background-position:-642px -44px;}
[id^="componente-"].activity-book{background-position:-1901px -44px;;}

[id^="componente-"].teacher-book{background-position:-956px -44px;}
[id^="componente-"].teachers-tesource-centre{background-position:-644px -44px;}
[id^="componente-"].flashcards{background-position:-1271px -44px;}
[id^="componente-"].students_resource_centre{background-position:-1578px -44px;}
[id^="componente-"].teachers_resource_centre{background-position:-1578px -44px;}
[id^="componente-"].presentation-kit{background-position:-1586px -44px;}


/*****************************************************WHAT MAKES *************************************************************/
body.what-makes-academy-stars-special div#barra b{background:transparent url('../images/02_Academy_Stars/Canvas/AStars_Canvas_Spreads.jpg') no-repeat 0 0;}
body.what-makes-academy-stars-special div#barra b{width:74px;height:49px;background-position:0 0;}
body.what-makes-academy-stars-special div#barra b#bp1 {background-position:0 0;     margin-left: 0px!important;}
body.what-makes-academy-stars-special div#barra b#bp2 {background-position:0 -48px;}
body.what-makes-academy-stars-special div#barra b#bp3 {background-position:0 -98px;}
body.what-makes-academy-stars-special div#barra b#bp4 {background-position:0 -147px;}
body.what-makes-academy-stars-special div#barra b#bp5 {background-position:0 -196px;}
body.what-makes-academy-stars-special div#barra b#bp6 {background-position:0 -245px;}
body.what-makes-academy-stars-special div#barra b#bp7 {background-position:0 -294px;}

/*****************************************************Workbook*************************************************************/
body.workbook div#barra b{background:transparent url('../images/02_Academy_Stars/Canvas/AStars_Canvas_Spreads.jpg') no-repeat 0 -49px;width:38px;height:49px;}
body.workbook div#barra div#scrl{display:none;}
body.workbook div#barra b#bp1{background-position:-114px 0px;margin-left: 38px;}
body.workbook div#barra b#bp2{background-position:-114px -49px;}
body.workbook div#barra b#bp3{background-position:-114px -98px;}
body.workbook div#barra b#bp4{background-position:-114px -147px;}
body.workbook div#barra b#bp5{background-position:-114px -196px;}
body.workbook div#barra b#bp6{background-position:-114px -245px;}
body.workbook div#barra b#bp7{background-position:-114px -294px;}
body.workbook div#barra b#bp8{background-position:-114px -343px;}
body.workbook div#barra b#bp9{background-position:-114px -392px;}
body.workbook div#barra b#bp10{background-position:-114px -441px;}
body.workbook div#barra b#bp11{background-position:-114px -490px;}


/*****************************************************teacher Book*************************************************************/
body.teacher-book div#barra b{background:transparent url('../images/02_Academy_Stars/Canvas/AStars_Canvas_Spreads.jpg') no-repeat 0 -49px;width:38px;height:54px;}
body.teacher-book div#barra div#scrl{display:none;}
body.teacher-book div#barra b#bp1{background-position:-153px 0px;margin-left: 38px;}
body.teacher-book div#barra b#bp2{background-position:-153px -54px;}
body.teacher-book div#barra b#bp3{background-position:-153px -108px;}
body.teacher-book div#barra b#bp4{background-position:-153px -162px;}
body.teacher-book div#barra b#bp5{background-position:-153px -216px;}
body.teacher-book div#barra b#bp6{background-position:-153px -270px;}
body.teacher-book div#barra b#bp7{background-position:-153px -324px;}
body.teacher-book div#barra b#bp8{background-position:-153px -378px;}
body.teacher-book div#barra b#bp9{background-position:-153px -432px;}
body.teacher-book div#barra b#bp10{background-position:-153px -486px;}
body.teacher-book div#barra b#bp11{background-position:-153px -540px;}
body.teacher-book div#barra b#bp12{background-position:-153px -594px;}
body.teacher-book div#barra b#bp13{background-position:-153px -648px;}
body.teacher-book div#barra b#bp14{background-position:-153px -702px;}
body.teacher-book div#barra b#bp15{background-position:-153px -756px;}
body.teacher-book div#barra b#bp16{background-position:-153px -810px;}
body.teacher-book div#barra b#bp17{background-position:-153px -864px;}



body.teacher-book div#magazine2 {
    height: 700px;
}
/*****************************************************STUDENTS BOOK *************************************************************/
body.pupils-book div#barra b{background:transparent url('../images/02_Academy_Stars/Canvas/AStars_Canvas_Spreads.jpg') no-repeat 0 -49px;width:38px;height:49px;}
body.pupils-book div#barra div#scrl{display:none;}
body.pupils-book div#barra b#bp1{background-position:-76px 0px;margin-left: 38px;}
body.pupils-book div#barra b#bp2{background-position:-76px -49px;}
body.pupils-book div#barra b#bp3{background-position:-76px -98px;}
body.pupils-book div#barra b#bp4{background-position:-76px -147px;}
body.pupils-book div#barra b#bp5{background-position:-76px -196px;}
body.pupils-book div#barra b#bp6{background-position:-76px -245px;}
body.pupils-book div#barra b#bp7{background-position:-76px -294px;}
body.pupils-book div#barra b#bp8{background-position:-76px -343px;}
body.pupils-book div#barra b#bp9{background-position:-76px -392px;}
body.pupils-book div#barra b#bp10{background-position:-76px -441px;}
body.pupils-book div#barra b#bp11{background-position:-76px -490px;}
body.pupils-book div#barra b#bp12{background-position:-76px -539px;}
body.pupils-book div#barra b#bp13{background-position:-76px -588px;}
body.pupils-book div#barra b#bp14{background-position:-76px -637px;}
body.pupils-book div#barra b#bp15{background-position:-76px -686px;}

 
body.pupils-book.libros.academy-stars a#audio_hh {
    margin: 293px 0 0 0;
}

/******************************************WHAT MAKES Next Move ESPECIAL ***************************************************/ 


body.students-book div#barra b#bp1 {background-position:0 -385px;}
body.students-book div#barra b#bp2 {background-position:0 -440px;}
body.students-book div#barra b#bp3 {background-position:0 -495px;}
body.students-book div#barra b#bp4 {background-position:0 -550px;}
body.students-book a#audio_hh,
body.students-book a#audio_ha,.turn-page i{position:absolute;margin:190px 0 0 9px;}

/*****************************************************ACTIVITY BOOK*************************************************************/
body.activity-book div#barra b{background:transparent url('../imagenes/tiger_time/AB/TT_AB1_Spr.png') no-repeat 0 0;}
body.activity-book div#barra b{width:38px;height:50px;background-position:0 0;}
body.activity-book div#barra b#bp2 {background-position:0 -50px;}
body.activity-book div#barra b#bp3 {background-position:0 -100px;}
body.activity-book div#barra b#bp4 {background-position:0 -150px;}
body.activity-book div#barra b#bp5 {background-position:0 -200px;}
body.activity-book div#barra b#bp6 {background-position:0 -250px;}
body.activity-book div#barra b#bp7 {background-position:0 -300px;}
body.activity-book div#barra b#bp8 {background-position:0 -350px;}
body.activity-book div#barra b#bp9 {background-position:0 -400px;}
body.activity-book div#barra b#bp10 {background-position:0 -450px;}
body.activity-book div#barra b#bp11 {background-position:0 -500px;}

/*****************************************************TEACHERS BOOK*************************************************************/
body.teachers-book div#barra b{background: transparent url('../imagenes/tiger_time/TB/TT_TB1_Spr.png') no-repeat 0 0;width:78px;height:50px;}
body.teachers-book div#barra b#bp1{margin-left: 0px;background-position:0 0;}
body.teachers-book div#barra b#bp2 {background-position:0 -50px;}
body.teachers-book div#barra b#bp3 {background-position:0 -100px;}
body.teachers-book div#barra b#bp4 {background-position:0 -150px;}
body.teachers-book div#barra b#bp5 {background-position:0 -200px;}
body.teachers-book div#barra b#bp6 {background-position:0 -250px;}
body.teachers-book div#barra b#bp7 {background-position:0 -300px;}
body.teachers-book div#barra b#bp8 {background-position:0 -350px;}
body.teachers-book div#barra b#bp9 {background-position:0 -400px;}
body.teachers-book div#barra b#bp10 {background-position:0 -450px;}
body.teachers-book div#barra b#bp11 {background-position:0 -500px;}
body.teachers-book div#barra b#bp12 {background-position:0 -550px;}
body.teachers-book div#barra b#bp13 {background-position:0 -600px;}
body.teachers-book div#barra b#bp14 {background-position:0 -650px;}
body.teachers-book div#barra b#bp15 {background-position:0 -700px;}
body.teachers-book div#barra b#bp16 {background-position:0 -750px;}
body.teachers-book div#barra b#bp17 {background-position:0 -800px;}
body.teachers-book div#barra b#bp18 {background-position:0 -850px;}
body.teachers-book div#barra b#bp19 {background-position:0 -900px;}
body.teachers-book div#barra b#bp20 {background-position:0 -950px;}
body.teachers-book div#barra b#bp21 {background-position:0 -1000px;}
body.teachers-book div#barra b#bp22 {background-position:0 -1050px;}
body.teachers-book div#barra b#bp23 {background-position:0 -1100px;}
body.teachers-book #magazine {width: 782px; height: 608px; display:block;}
.turn-page i{z-index:999999;}



#magazine{height:760px;}
#magazine2{height:640px;width: 1000px;}
body.teachers-edition #magazine2{height:660px;width: 1000px;}
body.teachers-edition #magazine{height:790px;}

@media screen and (max-width:1000px){
	body.happy-campers #intro_brainwave_2{margin-left:-30px !important;width:115% !important;}
	body.happy-campers #hed #logo{margin-top:-6px;}
}

@media screen and (max-width:600px){
	body #hed #logo {margin:22px 0 0 -62px !important;}   /** posicion logo **/
	body #hed #titu {margin:16px 0 0 20px !important;}  /** tamaÃ±o titulo introcuccion **/
	body #hed {height: 180px;}
	body.scoope_sequence #hed #titu {margin: 135px 10px 0 0 !important;}
	#intro_brainwave .te-texto p, #intro_brainwave .te-texto p#b {width: 77%;}
	body .te-texto div#tas_tit {padding: 42px 50px 0 45px !important;}
	body #hed #titu {margin: 155px 10px 0 0 !important;}
	#intro_brainwave .te-texto p#b {width: 73%;}
	body.what-makes-happy-campers-special #hed {height: 240px;}
	div#as {width: 380px!important;height: 470px!important;background: transparent url(../../../../wp-content/themes/catalogo/imagenes/nextmove/Canvas/NM_C_Ext.jpg) -132px -454px no-repeat!important;}
	div#bs {width: 313px!important;height: 434px!important;background: url(http://ecatalogb.macmillan.mx/wp-content/themes/catalogo/imagenes/nextmove/Canvas/NM_TRS_1-3.jpg) -111px 22px no-repeat transparent!important;}
	body.what-makes-happy-campers-special #hed #titu {margin: 165px 10px 0 0 !important;}
	body.students-book #hed #titu {margin: 175px 10px 0 0 !important;}
	body.students-book #hed {height: 250px;}
	body.teachers-website #hed #titu {margin: 163px 10px 0 0 !important;}
	body.teachers-website #hed {height: 187px;}
	body.teachers-website div.videos_c div {width: 313px!important;height: 434px!important;background: url(http://ecatalogb.macmillan.mx/wp-content/themes/catalogo/imagenes/nextmove/Canvas/NM_TRS_1-3.jpg) -111px 22px no-repeat transparent!important;}
	body.interactive-classroom-pack-class-audio-cd #hed {height: 220px;}
	body.interactive-classroom-pack-class-audio-cd #hed #titu {margin: 165px 10px 0 0 !important;}
	body.teachers-edition #magazine {width: 290px;height: 380px;}
}























