
<mat-progress-bar mode="indeterminate" *ngIf="isLoading" ></mat-progress-bar>

<h3 class="title-dark">New Teachers</h3>

<form [formGroup]="formTeacher" (ngSubmit)="saveFormTeacher(formTeacher)" >

	<div class="row middle-xs">

		<div class="col-xs-6">
			<mat-form-field appearance="outline" color="primary" class="full">
				<mat-label>Name</mat-label>
				<input matInput formControlName="nombre" placeholder="Write your name">
			</mat-form-field>
		</div>

		<div class="col-xs-6">
			<mat-form-field appearance="outline" color="primary" class="full">
				<mat-label>Password</mat-label>
				<input type="password" matInput formControlName="password" placeholder="Write your password">
			</mat-form-field>
		</div>


		<div class="col-xs-6">
			<mat-form-field appearance="outline" color="primary" class="full">
				<mat-label>Email</mat-label>
				<input matInput formControlName="email" placeholder="Write your email">
			</mat-form-field>
		</div>


		<div class="col-xs-12 end-xs">
			<button type="submit" mat-stroked-button color="primary" [disabled]="!formTeacher.valid">Guardar</button>
		</div>
	</div>

</form>
