
<h1 class="title">Schools</h1>

<mat-card>
	<mat-progress-bar mode="indeterminate" *ngIf="isLoading" ></mat-progress-bar>

	<div class="row end-xs">
		<div class="col-xs-12">
			<button mat-stroked-button color="primary" (click)="openDialogFormSchool()">Create school</button>
		</div>
	</div>

	<div class="row center-xs" *ngIf="schoolList.length <= 0">
		<div class="col-xs-12">
			<h3 class="subtitle-dark text-center">You still don't have schools set up.</h3>
		</div>
	</div>

	<div class="row" *ngIf="schoolList.length > 0">
		<div class="col-xs-12">
			<table mat-table [dataSource]="schoolList">

				<ng-container matColumnDef="id">
					<th mat-header-cell *matHeaderCellDef> Id </th>
					<td mat-cell *matCellDef="let element"> {{element.id}} </td>
				</ng-container>

				<ng-container matColumnDef="name">
					<th mat-header-cell *matHeaderCellDef> Nombre </th>
					<td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
				</ng-container>

				<ng-container matColumnDef="phone">
					<th mat-header-cell *matHeaderCellDef> Telefono </th>
					<td mat-cell *matCellDef="let element"> {{element.telefono}} </td>
				</ng-container>

				<ng-container matColumnDef="email">
					<th mat-header-cell *matHeaderCellDef> Email </th>
					<td mat-cell *matCellDef="let element"> {{element.email}} </td>
				</ng-container>

				<ng-container matColumnDef="actions">
					<th mat-header-cell *matHeaderCellDef> </th>
					<td mat-cell *matCellDef="let element">
						<a mat-icon-button color="primary" routerLink="../{{element.id}}">
							<mat-icon>visibility</mat-icon>
						</a>
					</td>
				</ng-container>

				<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
				<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
			</table>
		</div>
	</div>

</mat-card>