<h3 class="title">Profile</h3>

<mat-card>
	<mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>

	<form [formGroup]="formProfile" (ngSubmit)="saveFormProfile(formProfile)" *ngIf="formProfile">

		<div class="row middle-xs">
			<div class="col-xs-12">
				<div class="row end-xs">
					<div class="col-xs-3 col-sm-2" *ngIf="!isReadonly">
						<button type="submit" mat-stroked-button color="primary" [disabled]="!formProfile.valid">Save</button>
					</div>
					<div class="col-xs-3 col-sm-2" *ngIf="isReadonly">
						<button type="button" mat-stroked-button (click)="isReadonly = false" color="primary">Edit</button>
					</div>
					<div class="col-xs-3 col-sm-2">
						<button type="button" mat-stroked-button color="warn" (click)="deleteProfile()">Delete</button>
					</div>
				</div>
			</div>

			<div class="col-xs-12">
				<div class="subtitle-dark">Profile information</div>
			</div>

			<div class="col-xs-6">
				<mat-form-field appearance="outline" color="primary" class="full">
					<mat-label>Name</mat-label>
					<input matInput formControlName="nombre" placeholder="Write your name" [readonly]="isReadonly">
				</mat-form-field>
			</div>

			<div class="col-xs-6">
				<mat-form-field appearance="outline" color="primary" class="full">
					<mat-label>Email</mat-label>
					<input matInput formControlName="email" placeholder="Write your email" [readonly]="isReadonly">
				</mat-form-field>
			</div>

			<div class="col-xs-6">
				<mat-form-field appearance="outline" color="primary" class="full">
					<mat-label>Password</mat-label>
					<input type="password" matInput formControlName="password" placeholder="Write your password" [readonly]="isReadonly">
				</mat-form-field>
			</div>
		</div>
	</form>
</mat-card>