<div class="title">Test</div>

<mat-card>
	<mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>

	<!-- <div class="row end-xs">
		<div class="col-xs-12">
			<button mat-stroked-button color="primary" (click)="openDialogFormTest()">Create test</button>
		</div>
	</div> -->

	<div class="row center-xs" *ngIf="testList.length <= 0">
		<div class="col-xs-12">
			<h3 class="subtitle-dark text-center">You still don't have test set up.</h3>
		</div>
	</div>

	<div class="row" *ngIf="testList.length > 0" >

		<div class="col-xs-12">
			<table mat-table [dataSource]="testList">

				<ng-container matColumnDef="name">
					<th mat-header-cell *matHeaderCellDef> Name </th>
					<td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
				</ng-container>

				<ng-container matColumnDef="type">
					<th mat-header-cell *matHeaderCellDef> Type </th>
					<td mat-cell *matCellDef="let element"> {{element.tipo}} </td>
				</ng-container>

				<ng-container matColumnDef="instruction">
					<th mat-header-cell *matHeaderCellDef> Instruction </th>
					<td mat-cell *matCellDef="let element"> {{element.instrucciones}} </td>
				</ng-container>

				<!-- <ng-container matColumnDef="actions">
					<th mat-header-cell *matHeaderCellDef> Actions </th>
					<td mat-cell *matCellDef="let element">
						<a mat-icon-button color="primary" routerLink="./{{element.id}}">
							<mat-icon>visibility</mat-icon>
						</a>
					</td>
				</ng-container> -->

				<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
				<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
			</table>
		</div>

	</div>
</mat-card>