
<mat-progress-bar mode="indeterminate" *ngIf="isLoading" ></mat-progress-bar>

<h3 class="title-dark">New Group</h3>

<form [formGroup]="formGroup" (ngSubmit)="saveFormGroup(formGroup)" >

	<div class="row middle-xs">

		<div class="col-xs-6">
			<mat-form-field appearance="outline" color="primary" class="full">
				<mat-label>Name</mat-label>
				<input matInput formControlName="nombre" placeholder="Write your name">
			</mat-form-field>
		</div>


		<div class="col-xs-6">
			<mat-form-field>
				<mat-select placeholder="Select a test" formControlName="examens_id">
					<mat-option *ngFor="let test of testList" [value]="test.id">
						{{test.nombre}}
					</mat-option>
				</mat-select>
			</mat-form-field>
		</div>

		<div class="col-xs-12 end-xs">
			<button type="submit" mat-stroked-button color="primary" [disabled]="!formGroup.valid">Guardar</button>
		</div>
	</div>

</form>
