<h3 class="title-dark">Nuevo un bloque</h3>
<mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>

<form [formGroup]="formBlock" (ngSubmit)="saveFormBlock(formBlock)" >

	<div class="row middle-xs">

		<div class="col-xs-6">
			<mat-form-field class="full">
				<mat-select placeholder="Engine" formControlName="engine">
					<mat-option value="checkbox">Checkbox</mat-option>
					<mat-option value="radio">Radio</mat-option>
					<mat-option value="select">Select</mat-option>
				</mat-select>
			</mat-form-field>
		</div>

		<div class="col-xs-6">
			<mat-form-field class="full">
				<mat-select placeholder="Media" formControlName="media">
					<mat-option value="0" >None</mat-option>
					<mat-option value="1">Image</mat-option>
					<mat-option value="2">Audio</mat-option>
				</mat-select>
			</mat-form-field>
		</div>

		<div class="col-xs-6" *ngIf="formBlock.value.media !== '0'" >
			<button type="button" mat-stroked-button color="primary"  (click)="imgFileInput.click()">Upload {{ formBlock.value.media == '1' ? 'image' : 'audio' }} </button>

			<input hidden type="file" #imgFileInput (change)="previewImage($event)"/>
			<span> {{file?.name}}</span>
		</div>

		<div class="col-xs-6">
			<mat-form-field appearance="outline" color="primary" class="full">
				<mat-label>Nivel</mat-label>
				<input matInput formControlName="nivel" placeholder="Escribe la tarea">
			</mat-form-field>
		</div>

		<div class="col-xs-6">
			<mat-form-field appearance="outline" color="primary" class="full">
				<mat-label>Tarea</mat-label>
				<input matInput formControlName="task" placeholder="Escribe la tarea">
			</mat-form-field>
		</div>

		<div class="col-xs-6">
			<mat-form-field appearance="outline" color="primary" class="full">
				<mat-label>Tipo</mat-label>
				<input matInput formControlName="tipo" placeholder="Escribe la tarea">
			</mat-form-field>
		</div>


		<div class="col-xs-12">
			<mat-form-field appearance="outline" color="primary" class="full">
				<mat-label>Instrucciones</mat-label>
				<textarea matInput formControlName="instrucciones" placeholder="Escribe la tarea"></textarea>
			</mat-form-field>
		</div>
		<div class="col-xs-12 end-xs">
			<button type="submit" mat-stroked-button color="primary" [disabled]="!formBlock.valid">Guardar</button>
		</div>
	</div>

</form>
