@font-face {
	font-family: "Macmillan";
	src: url("assets/fonts/PFAgoraSansPro-Reg.eot") format("eot"),
		 url("assets/fonts/PFAgoraSansPro-Reg.otf") format("otf"),
		 url("assets/fonts/PFAgoraSansPro-Reg.woff") format("woff"),
		 url("assets/fonts/PFAgoraSansPro-Reg.ttf") format("truetype"),
		 url("assets/fonts/PFAgoraSansPro-Reg.svg") format("svg");
}