html, body {
	padding: 0;
	margin: 0;
	background: #F2F2F2;
	height: 100%;
	font-family: 'Macmillan', sans-serif !important;
}

table {
	width: 100%;
}


.title {
	margin: 20px 0;
	color: white;
	font-size: 24px;
}


.title-dark {
	margin: 20px 0;
	color: #444;
	font-size: 24px;
}


.subtitle {
	margin: 10px 0;
	color: white;
	font-size: 20px;
}


.subtitle-dark {
	margin: 10px 0;
	color: #666;
	font-size: 20px;
}


.text-center {
	text-align: center;
}


.content-buttons {
	display: flex;
	flex-direction: row-reverse;
}


.full {
	width: 100%;
}


.chips {
	padding: 5px;
	background: #ff4081;
	border-radius: 10px;
	color: white;
	font-size: 13px;
}



.divider {
	display: block;
	width: 100%;
	margin: 15px 0;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: rgba(0,0,0,.4);
}