.mat-button {
	font-family: 'Macmillan', sans-serif !important;
}


.mat-stroked-button {
	font-family: 'Macmillan', sans-serif !important;

	&.mat-primary {
		color: #444;
	}

}

.mat-icon-button {

	&.mat-primary {
		color: #c0352c;
	}
}
