
.mat-form-field {
	font-family: 'Macmillan', sans-serif !important;


	&.mat-primary {


		&.mat-focused {

			.mat-form-field-label {
				color: #444 !important;
			}


			.mat-form-field-outline {
				color: #444 !important;
			}

			.mat-form-field-ripple {
				background-color: #444 !important;
			}
		}
	}
}


.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
	color: #c0352c;
}