
<h3 class="title">Group - {{group?.nombre}}</h3>

<mat-card>
	<mat-progress-bar mode="indeterminate" *ngIf="isLoading" ></mat-progress-bar>

	<form [formGroup]="formGroup" (ngSubmit)="saveFormGroup(formGroup)" *ngIf="formGroup">
		<div class="row">

			<div class="col-xs-12">
				<div class="row end-xs">
					<div class="col-xs-3">
						<a mat-stroked-button color="primary" href="http://api.macmillan.mx/admin/exportpdf/{{group.id}}" target="_blank">PDF</a>
					</div>
					<div class="col-xs-3 col-sm-2" *ngIf="!isReadonly">
						<button type="submit" mat-stroked-button color="primary" [disabled]="!formGroup.valid">Save</button>
					</div>
					<div class="col-xs-3 col-sm-2" *ngIf="isReadonly">
						<button type="button" mat-stroked-button (click)="isReadonly = false" color="primary">Edit</button>
					</div>
					<!-- <div class="col-xs-3 col-sm-2">
						<button type="button" mat-stroked-button color="warn" (click)="deleteGroup()">Delete</button>
					</div> -->
				</div>
			</div>

			<div class="col-xs-12">
				<div class="subtitle-dark">Group information</div>
			</div>

			<div class="col-xs-6">
				<mat-form-field appearance="outline" color="primary" class="full">
					<mat-label>Name</mat-label>
					<input matInput formControlName="nombre" placeholder="Write the name" [readonly]="isReadonly">
				</mat-form-field>
			</div>

			<div class="col-xs-6">
				<mat-form-field appearance="outline" color="primary" class="full">
					<mat-label>Code access</mat-label>
					<input matInput formControlName="codigo_acceso" placeholder="Write the code access" readonly="true">
				</mat-form-field>
			</div>

		</div>

	</form>

	<div class="divider"></div>

	<div class="row" *ngIf="group?.alumnos">

		<!-- <div class="col-xs-12 end-xs">
			<button mat-stroked-button color="primary" (click)="openDialogFormGroup()">Add group</button>
		</div> -->

		<div class="col-xs-12 center-xs" *ngIf="group.alumnos.length <= 0">
			<h3 class="subtitle-dark text-center">Not found learners.</h3>
		</div>

		<div class="col-xs-12" *ngIf="group.alumnos.length > 0 ">
			<div class="subtitle-dark">Learners</div>
		</div>

		<div class="col-xs-12" *ngIf="group.alumnos.length > 0 ">
			<table mat-table [dataSource]="group.alumnos">

				<ng-container matColumnDef="name">
					<th mat-header-cell *matHeaderCellDef> Name </th>
					<td mat-cell *matCellDef="let element"> {{element.nombre}} {{element.apellido}}</td>
				</ng-container>

				<ng-container matColumnDef="code">
					<th mat-header-cell *matHeaderCellDef> Code </th>
					<td mat-cell *matCellDef="let element"> {{element.codigo_alumno}} </td>
				</ng-container>

				<ng-container matColumnDef="qualification">
					<th mat-header-cell *matHeaderCellDef> Qualification</th>
					<td mat-cell *matCellDef="let element"> {{element.calificacion}} </td>
				</ng-container>

				<ng-container matColumnDef="qualification_finish">
					<th mat-header-cell *matHeaderCellDef>  CEFR level </th>
					<td mat-cell *matCellDef="let element"> {{element.calificacion_final}} </td>
				</ng-container>

				<ng-container matColumnDef="actions">
					<th mat-header-cell *matHeaderCellDef> Actions </th>
					<td mat-cell *matCellDef="let element">
						<button mat-icon-button color="primary" (click)="resetScore(element)">
							<mat-icon>undo</mat-icon>
						</button>
					</td>
				</ng-container>

				<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
				<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
			</table>
		</div>

	</div>

</mat-card>