:host {

    mat-chip-list {
        margin-bottom: 10px;

        .access-code {
            padding: 10px 20px;
            font-size: 15px;
            font-weight: bold;
            margin: 0 auto;
        }
    }
}