
<div class="title">Registration</div>

<mat-card>
	<mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>

	<form [formGroup]="formLearner" (ngSubmit)="saveFormLearner(formLearner)" *ngIf="formLearner">
		<div class="row middle-xs">
			<div class="col-xs-12">
				<div class="row end-xs">
					<div class="col-xs-3 col-sm-2" *ngIf="!isReadonly">
						<button type="submit" mat-stroked-button color="primary" [disabled]="!formLearner.valid">Save</button>
					</div>
					<div class="col-xs-3 col-sm-2" *ngIf="isReadonly">
						<button type="button" mat-stroked-button (click)="isReadonly = false" color="primary">Edit</button>
					</div>
				</div>
			</div>

			<div class="col-xs-12" *ngIf="learner?.learner?.codigo_alumno">
				<mat-chip-list>
					<mat-chip color="primary" selected class="access-code">Access code: {{learner.learner.codigo_alumno}}</mat-chip>
				</mat-chip-list>
			</div>

			<div class="col-xs-12">
				<div class="subtitle-dark">Learner information</div>
			</div>

			<div class="col-xs-6">
				<mat-form-field appearance="outline" color="primary" class="full">
					<mat-label>Name</mat-label>
					<input matInput formControlName="nombre" placeholder="Write your name" [readonly]="isReadonly">
				</mat-form-field>
			</div>

			<div class="col-xs-6">
				<mat-form-field appearance="outline" color="primary" class="full">
					<mat-label>Last name</mat-label>
					<input matInput formControlName="apellido" placeholder="Write your last name" [readonly]="isReadonly">
				</mat-form-field>
			</div>

			<ng-container *ngIf="learner.learner">
				<div class="col-xs-6">
					<div class="subtitle-dark">Number of attempts: {{learner.learner.intentos}}</div>
				</div>

				<div class="col-xs-6">
					<div class="subtitle-dark" *ngIf="learner.learner.calificacion_final">CEFR level: {{learner.learner.calificacion_final}}</div>
				</div>

				<div class="col-xs-6">
					<a mat-stroked-button routerLink="/learner/test" color="accent" *ngIf="learner.learner.intentos < 3 && !learner.learner.calificacion_final">Start test</a>
				</div>

				<div class="col-xs-6">
					<a mat-stroked-button href="http://api.macmillan.mx/alumno/exportcertificate/{{learner.learner.id}}" target="_blank" color="accent" *ngIf="learner.learner.calificacion_final">Download results</a>
				</div>
			</ng-container>

		</div>
	</form>
</mat-card>