

<h3 class="title">Crea una nueva pregunta</h3>

<mat-card>
	<mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>

	<form [formGroup]="formQuestion" (ngSubmit)="saveQuestion(formQuestion)" *ngIf="formQuestion">
		<div class="row">
			<div class="col-xs-12">
				<div class="row end-xs">
					<div class="col-xs-3 col-sm-2" *ngIf="idQuestion === 'new' || !isReadonly">
						<button type="submit" mat-stroked-button color="primary" [disabled]="!formQuestion.valid">Guardar pregunta</button>
					</div>
					<div class="col-xs-3 col-sm-2"  *ngIf="idQuestion !== 'new' && isReadonly" (click)="isReadonly = false">
						<button type="button" mat-stroked-button color="primary">Editar</button>
					</div>
					<div class="col-xs-3 col-sm-2"  *ngIf="idQuestion !== 'new'">
						<button type="button" mat-stroked-button color="warn" (click)="deleteQuestion()">Eliminar</button>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<mat-form-field>
					<mat-select placeholder="Engine" [value]="engine" disabled>
						<mat-option value="checkbox">Checkbox</mat-option>
						<mat-option value="radio">Radio</mat-option>
						<mat-option value="select">Select</mat-option>
					</mat-select>
				</mat-form-field>
			</div>

			<div class="col-xs-12">
				<mat-form-field appearance="outline" color="primary" class="full">
					<mat-label>Description</mat-label>
					<textarea matInput placeholder="Description" formControlName="descripcion" [readonly]="isReadonly && idQuestion !== 'new'"></textarea>
				</mat-form-field>
			</div>

			<div class="col-xs-12 container-form" *ngIf="engine">
				<div class="sheath" *ngIf="isReadonly && idQuestion !== 'new'"></div>

				<div class="row" formGroupName="json" *ngIf="engine === 'checkbox'">
					<div class="col-xs-12 center-xs">
						<button type="button" mat-fab color="primary" matTooltip="Agrega una respuesta" matTooltipPosition="left" (click)="addAnswer()">
							<mat-icon>add</mat-icon>
						</button>
					</div>
					<div class="col-xs-12">
						<mat-form-field appearance="outline" color="primary" class="full">
							<mat-label>Pregunta</mat-label>
							<input matInput placeholder="Escribe la pregunta" formControlName="question">
						</mat-form-field>
					</div>
					<div class="col-xs-12" formArrayName="answers">
						<div class="row row-answer" *ngFor="let answer of formQuestion.controls.json.controls.answers.controls; let index=index">
							<div class="col-xs-12">
								<span class="chips">Respuesta {{index + 1}}</span>
							</div>
							<div class="col-xs-12" [formGroupName]="index">
								<div class="row middle-xs">
									<div class="col-xs-3">
										<mat-checkbox [value]="true" class="q-checkbox" formControlName="correct" matTooltip="Asignar respuesta correcta" matTooltipPosition="right">
											Respuesta correcta
										</mat-checkbox>
									</div>
									<div class="col-xs-8">
										<mat-form-field class="full">
											<input matInput placeholder="Respuesta" formControlName="answer">
										</mat-form-field>
									</div>
									<div class="col-xs-1">
										<button mat-icon-button color="error" class="q-button" matTooltip="Eliminar respuesta" matTooltipPosition="left" (click)="removeAnswer(index)">
											<mat-icon>delete</mat-icon>
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row" formGroupName="json" *ngIf="engine === 'radio' || engine === 'select'">
					<div class="col-xs-12 center-xs">
						<button type="button" mat-fab color="primary" matTooltip="Agrega una respuesta" matTooltipPosition="left" (click)="addAnswer()">
							<mat-icon>add</mat-icon>
						</button>
					</div>
					<div class="col-xs-12">
						<mat-form-field appearance="outline" color="primary" class="full">
							<mat-label>Pregunta</mat-label>
							<input matInput placeholder="Escribe la pregunta" formControlName="question">
						</mat-form-field>
					</div>
					<mat-radio-group formControlName="correct" class="full">
						<div class="col-xs-12" formArrayName="answers" >
							<div class="row row-answer" [formGroupName]="index" *ngFor="let answer of formQuestion.controls.json.controls.answers.controls; let index=index">
								<div class="col-xs-12">
									<span class="chips">Respuesta {{index + 1}}</span>
								</div>
								<div class="col-xs-12">
									<div class="row middle-xs">
										<div class="col-xs-3">
											<mat-radio-button [value]="index" class="q-radio" matTooltip="Asignar respuesta correcta" matTooltipPosition="right">
												Respuesta correcta
											</mat-radio-button>
										</div>
										<div class="col-xs-8">
											<mat-form-field class="full">
												<input matInput placeholder="Respuesta" formControlName="answer">
											</mat-form-field>
										</div>
										<div class="col-xs-1">
											<button mat-icon-button color="error" class="q-button" matTooltip="Eliminar respuesta" matTooltipPosition="left" (click)="removeAnswer(index)">
												<mat-icon>delete</mat-icon>
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</mat-radio-group>
				</div>
			</div>
		</div>

	</form>
</mat-card>
