:host {
	.container-form {
		margin-top: 10px;
		background: #EEE;
		border-radius: 3px;
		padding-top: 10px;
		margin-bottom: 10px;
		position: relative;


		.sheath {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 1;
		}


		.row-answer {
			margin-bottom: 15px;
		}
	}
}