
<h3 class="title">Bloque {{block?.id}}</h3>

<mat-card>
	<mat-progress-bar mode="indeterminate" *ngIf="isLoading" ></mat-progress-bar>

	<form [formGroup]="formBlock" (ngSubmit)="saveFormBlock(formBlock)" *ngIf="formBlock">
		<div class="row">
			<div class="col-xs-12">
				<div class="row end-xs">
					<div class="col-xs-3 col-sm-2" *ngIf="!isReadonly">
						<button type="submit" mat-stroked-button color="primary" [disabled]="!formBlock.valid">Guardar</button>
					</div>
					<div class="col-xs-3 col-sm-2" *ngIf="isReadonly">
						<button type="button" mat-stroked-button (click)="isReadonly = false" color="primary">Editar</button>
					</div>
					<div class="col-xs-3 col-sm-2">
						<button type="button" mat-stroked-button color="warn" (click)="deleteBlock()">Eliminar</button>
					</div>
				</div>
			</div>

			<div class="col-xs-12">
				<div class="subtitle-dark">Información del bloque</div>
			</div>

			<div class="col-xs-6">
				<mat-form-field class="full">
					<mat-select placeholder="Engine" formControlName="engine" [disabled]="isReadonly">
						<mat-option value="checkbox">Checkbox</mat-option>
						<mat-option value="radio">Radio</mat-option>
						<mat-option value="select">Select</mat-option>
					</mat-select>
				</mat-form-field>
			</div>

			<div class="col-xs-6">
				<mat-form-field class="full">
					<mat-select placeholder="Media" formControlName="media" [disabled]="isReadonly">
						<mat-option value="0">None</mat-option>
						<mat-option value="1">Image</mat-option>
						<mat-option value="2">Audio</mat-option>
					</mat-select>
				</mat-form-field>
			</div>

			<div class="col-xs-6" *ngIf="formBlock.value.media !== '0'">
				<button type="button" mat-stroked-button color="primary" (click)="imgFileInput.click()" [disabled]="isReadonly" >Upload {{ formBlock.value.media == '1' ? 'image' : 'audio' }} </button>

				<input hidden type="file" #imgFileInput (change)="previewImage($event)" />
				<span>{{ file?.name }}</span>
			</div>

			<div class="col-xs-6">
				<mat-form-field appearance="outline" color="primary" class="full">
					<mat-label>Nivel</mat-label>
					<input matInput formControlName="nivel" placeholder="Escribe la tarea" [readonly]="isReadonly">
				</mat-form-field>
			</div>
			<div class="col-xs-6">
				<mat-form-field appearance="outline" color="primary" class="full">
					<mat-label>Tarea</mat-label>
					<input matInput formControlName="task" placeholder="Escribe la tarea" [readonly]="isReadonly">
				</mat-form-field>
			</div>
			<div class="col-xs-6">
				<mat-form-field appearance="outline" color="primary" class="full">
					<mat-label>Tipo</mat-label>
					<input matInput formControlName="tipo" placeholder="Escribe la tarea" [readonly]="isReadonly">
				</mat-form-field>
			</div>
			<div class="col-xs-12">
				<mat-form-field appearance="outline" color="primary" class="full">
					<mat-label>Instrucciones</mat-label>
					<textarea matInput formControlName="instrucciones" placeholder="Escribe la tarea" [readonly]="isReadonly"></textarea>
				</mat-form-field>
			</div>
			<div class="col-xs-12 center-xs">
				<img src="http://api.macmillan.mx/{{block.contentido}}" alt="" width="400" height="400" *ngIf="block.media === '1'">
				<audio controls *ngIf="block.media === '2'">
					<source src="http://api.macmillan.mx/{{block.contentido}}" type="audio/mpeg">
				</audio>
			</div>
		</div>

		<div class="divider"></div>

		<div class="col-xs-12">
			<div class="row end-xs">
				<div class="col-xs-3 col-sm-2">
					<a mat-stroked-button color="primary" routerLink="./question/new">Agregar pregunta</a>
				</div>
			</div>
		</div>

		<div class="row center-xs" *ngIf="questionList.length <= 0">
			<div class="col-xs-12">
				<h3 class="subtitle-dark text-center">No se encontraron preguntas.</h3>
			</div>
		</div>

		<div class="row" *ngIf="questionList.length > 0 ">
			<div class="col-xs-12">
				<div class="subtitle-dark">Preguntas</div>
			</div>
			<div class="col-xs-12">
				<table mat-table [dataSource]="questionList">

					<ng-container matColumnDef="description">
						<th mat-header-cell *matHeaderCellDef> Description </th>
						<td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
					</ng-container>

					<ng-container matColumnDef="actions">
						<th mat-header-cell *matHeaderCellDef> Acciones </th>
						<td mat-cell *matCellDef="let element">
							<a mat-icon-button color="primary" routerLink="./question/{{element.id}}">
								<mat-icon>visibility</mat-icon>
							</a>
						</td>
					</ng-container>

					<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
					<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
				</table>
			</div>
		</div>
	</form>
</mat-card>