
<h3 class="title">Groups</h3>

<mat-card>
	<mat-progress-bar mode="indeterminate" *ngIf="isLoading" ></mat-progress-bar>

	<div class="row">

		<div class="col-xs-12 end-xs">
			<button type="button" mat-stroked-button color="primary" (click)="openCreateTeacherDialog()">Create groups</button>
		</div>

		<div class="col-xs-12 center-xs" *ngIf="teacherList.length <= 0">
			<h3 class="subtitle-dark text-center">Not found groups.</h3>
		</div>

		<div class="col-xs-12" *ngIf="teacherList.length > 0 ">
			<div class="subtitle-dark">Groups</div>
		</div>
		<div class="col-xs-12" *ngIf="teacherList.length > 0 ">
			<table mat-table [dataSource]="teacherList">

				<ng-container matColumnDef="nombre">
					<th mat-header-cell *matHeaderCellDef> Description </th>
					<td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
				</ng-container>

				<ng-container matColumnDef="code_access">
					<th mat-header-cell *matHeaderCellDef> Code access </th>
					<td mat-cell *matCellDef="let element"> {{element.codigo_acceso}} </td>
				</ng-container>

				<ng-container matColumnDef="actions">
					<th mat-header-cell *matHeaderCellDef> Acciones </th>
					<td mat-cell *matCellDef="let element">
						<a mat-icon-button color="primary" routerLink="./{{element.id}}">
							<mat-icon>visibility</mat-icon>
						</a>
					</td>
				</ng-container>

				<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
				<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
			</table>
		</div>

	</div>
</mat-card>