<div class="title">Test</div>

<mat-card>
	<mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>

	<div class="section-block" *ngFor="let block of test?.blocks; let index = index">
		<mat-chip-list>
			<mat-chip color="primary" selected>{{ (65 + index) | ascci }}</mat-chip>
			<mat-chip color="primary">{{block.instrucciones}}</mat-chip>
		</mat-chip-list>

		<ng-container *ngIf="block.engine === 'radio'">
			<div  *ngFor="let index = index; let question of block.preguntas">
				<p>{{index + 1}}.- {{question.json.question}}</p>

				<mat-radio-group class="section-answer" class="section-questions" [(ngModel)]="question.json.selected">
					<mat-radio-button [value]="index" *ngFor="let answer of question.json.answers; let index = index"> {{answer.answer}} </mat-radio-button>
				</mat-radio-group>
			</div>
		</ng-container>

		<ng-container *ngIf="block.engine === 'select'">
			<div  *ngFor="let index = index; let question of block.preguntas">
				<p>{{index + 1}}.- {{question.json.question}}</p>

				<mat-form-field>
					<mat-select placeholder="Select" [(ngModel)]="question.json.selected">
						<mat-option *ngFor="let answer of question.json.answers; let index = index" [value]="index">
							{{answer.answer | json}}
						</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
		</ng-container>

		<ng-container *ngIf="block.engine === 'checkbox'">
			<div  *ngFor="let index = index; let question of block.preguntas">
				<p>{{index + 1}}.- {{question.json.question}}</p>

				<div *ngFor="let answer of question.json.answers; let index = index">
					<mat-checkbox [(ngModel)]="answer.selected">{{answer.answer}}</mat-checkbox>
				</div>

			</div>
		</ng-container>
	</div>

	<ng-container *ngIf="test">
		<button type="button" mat-stroked-button color="primary" *ngIf="test.next_level" (click)="continueTest()" > Continue </button>
		<button type="button" mat-stroked-button color="primary" *ngIf="!test.next_level" (click)="finishTest()" > Finish </button>
	</ng-container>
</mat-card>