<mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>

<h3 class="title-dark">New test</h3>

<form [formGroup]="formTest" (ngSubmit)="saveFormTest(formTest)">

	<div class="row middle-xs">

		<div class="col-xs-6">
			<mat-form-field appearance="outline" color="primary" class="full">
				<mat-label>Name</mat-label>
				<input matInput formControlName="nombre" placeholder="Write your name">
			</mat-form-field>
		</div>

		<div class="col-xs-6">
			<mat-form-field appearance="outline" color="primary" class="full">
				<mat-label>Type</mat-label>
				<input matInput formControlName="tipo" placeholder="Write your password">
			</mat-form-field>
		</div>


		<div class="col-xs-6">
			<mat-form-field appearance="outline" color="primary" class="full">
				<mat-label>Instruction</mat-label>
				<input matInput formControlName="instrucciones" placeholder="Write your email">
			</mat-form-field>
		</div>

		<div class="col-xs-6">
			<mat-form-field>
				<mat-select placeholder="Select media" formControlName="media">
					<mat-option [value]="1"> Media </mat-option>
					<mat-option [value]="0"> Not media </mat-option>
				</mat-select>
			</mat-form-field>
		</div>

		<div class="col-xs-12 end-xs">
			<button type="submit" mat-stroked-button color="primary" [disabled]="!formTest.valid">Save</button>
		</div>
	</div>

</form>