<mat-toolbar color="primary" *ngIf="(isLoggedIn | async).isLogin">
	<img src="assets/logo.png" alt="MAP" height="64">

	<span class="example-spacer"></span>

	<ng-container *ngIf="(isLoggedIn | async).role === 'admin'">
		<a mat-button routerLink="/manager/tests">Tests</a>
		<a mat-button routerLink="/manager/school">Schools</a>
		<a mat-button routerLink="/manager/block">Blocks</a>
	</ng-container>

	<ng-container *ngIf="(isLoggedIn | async).role === 'teacher'">
		<a mat-button routerLink="/teacher/profile">Profile</a>
		<a mat-button routerLink="/teacher/tests">Tests</a>
		<a mat-button routerLink="/teacher/groups">Groups</a>
	</ng-container>

	<button mat-button (click)="onLogout()" >Signout</button>
</mat-toolbar>