
<h1 class="title">Bloques</h1>

<mat-card>
	<mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>

	<div class="row end-xs">
		<div class="col-xs-12">
			<button mat-stroked-button color="primary" (click)="openDialogFormBlock()">Crear bloque</button>
		</div>
	</div>

	<div class="row center-xs" *ngIf="blockList.length <= 0">
		<div class="col-xs-12">
			<h3 class="subtitle text-center">Aun no tienes bloques creados.</h3>
		</div>
	</div>

	<div class="row" *ngIf="blockList.length > 0">
		<div class="col-xs-12">
			<table mat-table [dataSource]="blockList">

				<ng-container matColumnDef="id">
					<th mat-header-cell *matHeaderCellDef> Id </th>
					<td mat-cell *matCellDef="let element"> {{element.id}} </td>
				</ng-container>

				<ng-container matColumnDef="engine">
					<th mat-header-cell *matHeaderCellDef> Engine </th>
					<td mat-cell *matCellDef="let element"> {{element.engine}} </td>
				</ng-container>

				<ng-container matColumnDef="level">
					<th mat-header-cell *matHeaderCellDef> Nivel </th>
					<td mat-cell *matCellDef="let element"> {{element.nivel}} </td>
				</ng-container>

				<ng-container matColumnDef="type">
					<th mat-header-cell *matHeaderCellDef> Tipo </th>
					<td mat-cell *matCellDef="let element"> {{element.tipo}} </td>
				</ng-container>

				<ng-container matColumnDef="media">
					<th mat-header-cell *matHeaderCellDef> Media </th>
					<td mat-cell *matCellDef="let element"> {{element.media}} </td>
				</ng-container>

				<ng-container matColumnDef="task">
					<th mat-header-cell *matHeaderCellDef> Tarea </th>
					<td mat-cell *matCellDef="let element"> {{element.task}} </td>
				</ng-container>

				<ng-container matColumnDef="actions">
					<th mat-header-cell *matHeaderCellDef> </th>
					<td mat-cell *matCellDef="let element">
						<a mat-icon-button color="primary" routerLink="./{{element.id}}">
							<mat-icon>visibility</mat-icon>
						</a>
					</td>
				</ng-container>

				<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
				<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
			</table>
		</div>
	</div>

</mat-card>