
<h3 class="title">Test - {{test?.nombre}}</h3>

<mat-card>
	<mat-progress-bar mode="indeterminate" *ngIf="isLoading" ></mat-progress-bar>

	<form [formGroup]="formTest" (ngSubmit)="saveFormTest(formTest)" *ngIf="formTest">
		<div class="row middle-xs">
			<div class="col-xs-12">
				<div class="row end-xs">
					<div class="col-xs-3 col-sm-2" *ngIf="!isReadonly">
						<button type="submit" mat-stroked-button color="primary" [disabled]="!formTest.valid">Save</button>
					</div>
					<div class="col-xs-3 col-sm-2" *ngIf="isReadonly">
						<button type="button" mat-stroked-button (click)="isReadonly = false" color="primary">Edit</button>
					</div>
					<div class="col-xs-3 col-sm-2">
						<button type="button" mat-stroked-button color="warn" (click)="deleteTest()">Delete</button>
					</div>
				</div>
			</div>

			<div class="col-xs-12">
				<div class="subtitle-dark">Test information</div>
			</div>

			<div class="col-xs-6">
				<mat-form-field appearance="outline" color="primary" class="full" >
					<mat-label>Name</mat-label>
					<input matInput formControlName="nombre" placeholder="Write your name" [readonly]="isReadonly">
				</mat-form-field>
			</div>

			<div class="col-xs-6">
				<mat-form-field appearance="outline" color="primary" class="full">
					<mat-label>Type</mat-label>
					<input matInput formControlName="tipo" placeholder="Write your password" [readonly]="isReadonly">
				</mat-form-field>
			</div>

			<div class="col-xs-6">
				<mat-form-field appearance="outline" color="primary" class="full">
					<mat-label>Instruction</mat-label>
					<input matInput formControlName="instrucciones" placeholder="Write your email" [readonly]="isReadonly">
				</mat-form-field>
			</div>

			<div class="col-xs-6">
				<mat-form-field>
					<mat-select placeholder="Select media" formControlName="media" [disabled]="isReadonly">
						<mat-option [value]="1"> Media </mat-option>
						<mat-option [value]="0"> Not media </mat-option>
					</mat-select>
				</mat-form-field>
			</div>

			<!-- <div class="col-xs-6">
				<button type="button" mat-stroked-button color="primary" (click)="imgFileInput.click()" [disabled]="isReadonly" >Upload image</button>

				<input hidden type="file" #imgFileInput (change)="previewImage($event)" />
				<span>{{ file?.name }}</span>
			</div> -->

			<!-- <div class="col-xs-6">
				<mat-form-field appearance="outline" color="primary" class="full">
					<mat-label>Phone</mat-label>
					<input type="number" matInput formControlName="telefono" placeholder="Write the phone" [readonly]="isReadonly">
				</mat-form-field>
			</div> -->
			<!-- <div class="col-xs-6">
				<mat-form-field appearance="outline" color="primary" class="full">
					<mat-label>Email</mat-label>
					<input matInput formControlName="email" placeholder="Write the email" [readonly]="isReadonly">
				</mat-form-field>
			</div> -->
			<!-- <div class="col-xs-12">
				<mat-form-field appearance="outline" color="primary" class="full">
					<mat-label>Contact</mat-label>
					<textarea matInput formControlName="contacto" placeholder="Write the contact" [readonly]="isReadonly"></textarea>
				</mat-form-field>
			</div> -->

		</div>

	</form>

	<!-- <div class="divider"></div>

	<div class="row">

		<div class="col-xs-12 end-xs">
			<button type="button" mat-stroked-button color="primary" (click)="openCreateTeacherDialog()">Create teacher</button>
		</div>

		<div class="col-xs-12 center-xs" *ngIf="teacherList.length <= 0">
			<h3 class="subtitle-dark text-center">Not found teachers.</h3>
		</div>

		<div class="col-xs-12" *ngIf="teacherList.length > 0 ">
			<div class="subtitle-dark">Teachers</div>
		</div>
		<div class="col-xs-12" *ngIf="teacherList.length > 0 ">
			<table mat-table [dataSource]="teacherList">

				<ng-container matColumnDef="nombre">
					<th mat-header-cell *matHeaderCellDef> Description </th>
					<td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
				</ng-container>

				<ng-container matColumnDef="email">
					<th mat-header-cell *matHeaderCellDef> Description </th>
					<td mat-cell *matCellDef="let element"> {{element.email}} </td>
				</ng-container>

				<ng-container matColumnDef="actions">
					<th mat-header-cell *matHeaderCellDef> Acciones </th>
					<td mat-cell *matCellDef="let element">
						<a mat-icon-button color="primary" routerLink="./teacher/{{element.id}}">
							<mat-icon>visibility</mat-icon>
						</a>
					</td>
				</ng-container>

				<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
				<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
			</table>
		</div>

	</div> -->
</mat-card>